<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <meta name="description" content="Prueba de concepto para app de entregas - Live - 22 Agosto 2022">
  <meta name="author" content="Steven Rey - Based on: Luiz Lima">
  <meta name="theme-color" content="transparent">
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="h-full">

  {% block body %}{% endblock %}

  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
